/* Home.module.css */

.main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-color: #f2f2f2;
font-family: 'Inter', sans-serif;
}

.content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
max-width: 960px;
margin: 0 auto;
padding: 0 20px;
text-align: center;
}

.card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
margin: 20px 0;
padding: 40px;
border-radius: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color: #fff;
color: #333;
}

.card h1 {
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
color: #0059b3;
}

.card h2 {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
color: #333;
}

.card ol {
font-size: 24px;
line-height: 1.5;
text-align: left;
margin: 0;
padding: 0 40px;
color: #666;
}

.card ol li {
margin-bottom: 10px;
}

.card button {
font-size: 24px;
font-weight: bold;
padding: 20px 40px;
border: none;
border-radius: 5px;
background-color: #0059b3;
color: #fff;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

.card button:hover {
background-color: #003366;
}

.table {
width: 100%;
border-collapse: collapse;
margin-top: 2rem;
}

.table th {
font-size: 1.5rem;
font-weight: bold;
color: #28395E;
text-align: left;
padding: 1rem 2rem;
border-bottom: 0.2rem solid #ccc;
}

.table td {
font-size: 1.5rem;
color: #28395E;
text-align: left;
padding: 1rem 2rem;
border-bottom: 0.1rem solid #ccc;
}

.table tr:nth-child(even) {
background-color: #f2f2f2;
}

#getUsersBtn {
background-color: #0077cc;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
margin-bottom: 20px;
}

#getUsersBtn:hover {
background-color: #005fa3;
}